<div class="head"><b>STAFF MANAGEMENT SYSTEM</b></div>
       <div class="right"><br><br>
        <br>
         <table border="2" class="h">
            <tr><th colspan="9">LIST OF A STAFF</th></tr>
            <tr>
                <th rowspan="9">DETAILS</th>
                <th>Id.No</th>
                <th>Name</th>
                <th>Age</th>
                <th>Phone No</th>
                <th>Address</th>
                <th>Subject handling</th>
                <th>Salary</th>
                <th>Department</th>
            </tr>
            <tr>
                <td>601</td>
                <td>Thenmozhli</td>
                <td>30</td>
                <td>7786172341</td>
                <td>11,left street,chennai.</td>
                <td>Mathametaics</td>
                <td>Rs.25000</td>
                <td>MECh-Iyr</td>
            </tr>
            <tr>
                <td>604</td>
                <td>Kumaresh</td>
                <td>25</td>
                <td>8143567435</td>
                <td>11,right street,Namakkal.</td>
                <td>Chemistry</td>
                <td>Rs.30000</td>
                <td>ECE-IIIyr</td>
            </tr>
            <tr>
                <td>634</td>
                <td>Amala</td>
                <td>23</td>
                <td>7708610187</td>
                <td>34,thillaipuram street,Namakkal</td>
                <td>Tamil</td>
                <td>Rs.40000</td>
                <td>ECE-IIyr</td>
            </tr>
        
         </table>
       </div>
       <div class="left"><br>
        Id.No: <br>
          <input type="text"  size="25px"/>
        <br>
        Name: <br>
            <input type="text" size="25px"/>
          <br>
          Age: <br>
            <input type="text" size="25px"/>
          <br>
         Phone.No: <br>
            <input type="text" size="25px"/>
         <br>
          Address: <br>
             <input type="text" size="25px"/>
           <br>
           Subject Handling: <br>
              <input type="text" size="25px"/>
            <br>
           Salary: <br>
               <input type="text" size="25px"/>
             <br>
            Class Taken: <br>
                <input type="text" size="25px"/>
              <br><br>
              <button type="text">Find</button>&nbsp;
              <button type="text">Update</button>&nbsp;
              <button type="text">Delete</button>&nbsp;
              <button type="text">Find All</button>&nbsp;
              <button type="text">Insert</button>&nbsp;
              
       </div>  
